@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-share.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-thumbnail.css');

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__item {
  width: 240px;
  margin: 5px;
}

.gallery__item img {
  max-width: 100%;
  height: auto;
}

.inline-gallery-container {
  width: 700px;
  height: 500px;
  position: relative;
}

.lightGallery-captions {
  h4 {
    transform: translate3d(60px, 0, 0px);
  }
  p {
    transform: translate3d(-60px, 0, 0px);
  }
  h4,
  p {
    opacity: 0;
  }
}

.lg-current {
  .lightGallery-captions {
    h4,
    p {
      transform: translate3d(0, 0, 0px);
    }
    h4,
    p {
      opacity: 1;
    }
  }
}
.lg-slide-progress {
  .lightGallery-captions {
    h4 {
      transform: translate3d(-60px, 0, 0px);
    }
    p {
      transform: translate3d(60px, 0, 0px);
    }
    h4,
    p {
      opacity: 0;
    }
  }
}

.lightGallery-captions {
  h4,
  p {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in;
  }
}
.lg-current {
  .lightGallery-captions {
    h4,
    p {
      transition-delay: 500ms;
    }
  }
  &.lg-slide-progress {
    .lightGallery-captions {
      h4,
      p {
        transition-delay: 0ms;
      }
    }
  }
}
